@model Domain.Entities.Person

<h1>Edit @Model.FirstName @Model.LastName </h1>
@using(Html.BeginForm()) {
@Html.EditorForModel()
    <input type="submit" value="ok"/>
    @Html.ActionLink("Cancel", "List", "Users");
}