
<body>
    <div id="menu">
       <p>@Html.ActionLink("All data", "List", "Users")</p>
        <p>@Html.ActionLink("Find data", "FindListAge", "Users")</p>
        @*<p>@Html.ActionLink("Edit data", "EditData", "Users")</p>*@
        
    </div>
</body>












